LOG_LEVEL=debug
JWT_SECRET=local
INITIAL_USER=admin
INITIAL_PASSWORD=password
DB_HOST=localhost
DB_PORT=27017
DB_NAME=agnai
ADAPTERS=horde,novel,kobold,luminai,openai,scale,claude,replicate
JSON_STORAGE=1