/.parcel-cache
/dist
/node_modules
.pnpm-debug.log
.env
config.json
.config.json
log.txt
__pycache__
.token_secret
__pycache__
runtime
bin
*.js
*.map
version.txt
!srv.tsconfig.json
settings.json
.npmrc
.model/
!.github/*.js
!sprites.js
/auth
*.tsbuildinfo
!web/pkg/*.js
!llama3.js
*.key
*.pub