{
  "printWidth": 100,
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [{ "files": ["*.html"], "options": { "semi": true } }]
}
