.side-drawer {
  height: calc(100vh);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: fixed;
  right: -470px;
  transition: opacity 250ms ease;
  transition: right 250ms ease;
  @apply w-[calc(100vw-32px)]  bg-[var(--bg-800)] sm:w-96 lg:top-[72px] lg:clear-none lg:h-[100vh];
  @apply z-10 lg:z-0;
}

.side-drawer--hide {
  animation-fill-mode: forwards;
  animation: hideDrawer 0s ease 250ms;
  @apply right-[0px] lg:opacity-100;
}

.side-drawer__content {
  /* position: fixed; */
  top: 0;
  right: 0;
  height: 100%;
  transition: 250ms ease;
}

.side-drawer > * > a.active {
  background-color: var(--bg-800);
}

@keyframes hideDrawer {
  to {
    visibility: hidden;
  }
}
