.side-drawer {
  height: 100vh;
  height: 100dvh;
  min-height: 100vh;
  min-height: 100dvh;
  position: fixed;
  right: -1000px;
  transition: opacity 250ms ease;
  transition: right 250ms ease;
  @apply top-0 w-[calc(100vw-32px)] bg-[var(--bg-800)] sm:clear-none sm:w-96;
  @apply z-10 sm:z-0;
}

.side-drawer--hide {
  animation-fill-mode: forwards;
  animation: hideDrawer 0s ease 250ms;
  @apply right-[0px] sm:opacity-100;
}

.side-drawer__content {
  /* position: fixed; */
  top: 0;
  right: 0;
  height: 100%;
  transition: 250ms ease;
}

.side-drawer > * > a.active {
  background-color: var(--bg-800);
}

@keyframes hideDrawer {
  to {
    visibility: hidden;
  }
}
