.rendered-markdown {
  color: var(--text-800);
}

.rendered-markdown p:not(:last-child) {
  margin-bottom: 1em; /* ensure <p> els are visually separated by empty line */
}

em {
  color: var(--chat-italics);
}
