.rendered-markdown {
  color: var(--text-800);
}

.rendered-markdown p:not(:last-child) {
  margin-bottom: 0.4em; /* ensure <p> els are visually separated by empty line */
}

.rendered-markdown pre {
  @apply overflow-x-scroll rounded-md bg-[var(--bg-600)] p-1 text-[var(--text-900)];
}

.rendered-markdown pre code {
  background-color: unset;
  border-radius: unset;
  padding: unset;
}

em {
  color: var(--text-600);
}

/* This small manual adjustment is unfortunately necessary for harmony */
.message-date {
  position: relative;
  top: -1px;
}
