.body {
}

.main {
  @apply w-full pb-4;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;

  grid-template-areas:
    'header header header'
    'left preview right'
    'left preview right'
    'left preview right'
    'left preview right'
    'left preview right'
    'left preview right'
    'left preview right'
    'footer footer footer';
}

.header {
  grid-area: header;
  height: 48px;
}

.footer {
  grid-area: footer;
}

.preview {
  grid-area: preview;
  @apply flex justify-center;
}

.left {
  grid-area: left;
  @apply flex flex-col items-end gap-2;
  @apply hidden sm:flex;
}

.right {
  grid-area: right;
  @apply hidden sm:flex;
}
