/* .side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease;

  &--hide {
    opacity: 0;
    animation: hideDrawer 0s ease 250ms;
    animation-fill-mode: forwards;
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    width: 390px;
    max-width: calc(100vw - 20px);
    height: 100%;
    transition: 250ms ease;

    &#{$self}--show {
      left: 0;
    }

    &#{$self}--hide {
      left: -470px;
    }

    #{$self}__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      border-bottom: 1px solid var(--color-bgLight);
      padding: 0 16px;
      font-size: 24px;
      font-weight: 600;

      #{$self}__icon {
        cursor: pointer;
        font-size: 18px;
      }
    }
    
  }


  &__body {
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-width: none;
  }

  &__body::-webkit-scrollbar {
    display: none;
  }
}

@keyframes hideDrawer {
  to {
    visibility: hidden;
  }
} */
