@tailwind base;
@tailwind components;
@tailwind utilities;

/** Global focus style override. */
*:focus {
  @apply outline-none;
}

.link {
  @apply text-purple-500 hover:text-purple-200;
}

@layer base {
  /**
   * Scrollbar
   */

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white/10;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-purple-600;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-500;
  }

  /**
   * Focus/accessibility-related utilities.
   */
  ._focusable-base {
    @apply transition-all duration-100;
  }

  .focusable-field {
    @apply _focusable-base;
    @apply bg-white/5 hover:bg-white/[0.075] active:bg-white/20;
    @apply placeholder:text-white/25;
  }

  .focusable-icon-button,
  .icon-button {
    @apply _focusable-base cursor-pointer;
    @apply text-white/50 hover:text-white focus:text-white;
  }

  /** Integrates with solid-router - highlights current selection. */
  .focusable-icon-button.active,
  .icon-button.active {
    @apply text-white;
  }

  /**
   * Buttons.
   */
  .btn-base {
    @apply flex gap-1;
    @apply transition-colors duration-100;
    @apply rounded-md px-3;
  }

  .btn-primary {
    @apply btn-base;
    @apply bg-purple-600 enabled:hover:bg-purple-500 enabled:active:bg-purple-400;
    @apply disabled:cursor-not-allowed disabled:bg-purple-900 disabled:text-white/25;
  }

  .btn-secondary {
    @apply btn-base;
    @apply bg-stone-600 hover:bg-stone-500 active:bg-stone-400;
  }

  .btn-clear {
    @apply btn-base;
    @apply bg-transparent;
  }

  /**
   * Cards.
   */
  .focusable-card {
    @apply _focusable-base;
    @apply max-h-96 max-w-[10rem];
    @apply rounded-md shadow-md;
    @apply bg-background-lighter hover:bg-zinc-900 active:bg-zinc-800;
  }

  /**
   * Tooltips
   */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  /**
   * Other form stuff.
   */
  .form-check-input:checked[type='radio'] {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E');
  }

  input[type='file']::file-selector-button {
    @apply bg-purple-600 p-2 text-white;

    border: 0;

    transition: 1s;
  }

  input[type='text']:disabled {
    @apply bg-slate-800 text-gray-500;
  }

  input[type='number']:disabled {
    @apply bg-slate-800 text-gray-500;
  }

  /* input[type='text']:invalid {
    @apply border-2 border-red-600;
  } */

  input[type='range'] {
    background: rgb(255 255 255 / 0.05);
    background-image: linear-gradient(rgb(152 64 160), rgb(152 64 160));
    background-repeat: no-repeat;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(152 64 160);
    box-shadow: 0 0 2px 0 #555;
  }

  input[type='range']:disabled {
    background-image: linear-gradient(
      rgb(64 28 76 / var(--tw-bg-opacity)),
      rgb(64 28 76 / var(--tw-bg-opacity))
    );
  }

  input[type='range']::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .toggle-pill-color input[type='checkbox'] {
    display: none;
  }
  .toggle-pill-color input[type='checkbox'] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    /* background: #e84d4d; */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    @apply bg-slate-700;
  }
  .toggle-pill-color input[type='checkbox'] + label:before {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .toggle-pill-color input[type='checkbox']:checked + label {
    @apply bg-purple-500;
    /* background: #47cf73; */
  }
  .toggle-pill-color input[type='checkbox']:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
  }

  .drawer {
    height: calc(100vh - 58px);
    position: absolute;
    top: 58px;
    left: 0;
    transition: opacity 250ms ease;
    transition: left 250ms ease;
    @apply w-72 bg-background-lighter  lg:relative lg:top-0 lg:clear-none lg:h-[calc(100vh-64px)] lg:w-72;
    @apply z-10 lg:z-0;
  }

  .drawer--hide {
    animation-fill-mode: forwards;
    animation: hideDrawer 0s ease 250ms;
    @apply left-[-470px] lg:left-0 lg:opacity-100;
  }

  .drawer__content {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    transition: 250ms ease;
  }

  .drawer > * > a.active {
    @apply bg-slate-800;
  }

  @keyframes hideDrawer {
    to {
      visibility: hidden;
    }
  }
}
