@import 'variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Global focus style override. */
*:focus {
  @apply outline-none;
}

* > code {
  @apply rounded-md bg-[var(--bg-600)] p-1 text-[var(--text-900)];
}

body {
  color: var(--text-100);
  font-family: var(--sitewide-font);
}

.w-10 {
  width: 2.5rem;
}

body {
  @apply text-900 bg-[var(--bg-900)];
  height: 100%;
  height: -webkit-fill-available;
}

@supports (-webkit-touch-callout: none) {
  /* .app {
    height: calc(100dvh - 74px);
  } */
}

.ellipsis {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  @apply cursor-pointer text-[var(--hl-500)] hover:text-[var(--hl-300)];
}

@layer base {
  /* .bg-100 {
    background: linear-gradient(var(--bg-100), var(--gradient-100));
  }

  .bg-200 {
    background: linear-gradient(var(--bg-200), var(--gradient-200));
  }

  .bg-300 {
    background: linear-gradient(var(--bg-300), var(--gradient-300));
  }

  .bg-400 {
    background: linear-gradient(var(--bg-400), var(--gradient-400));
  }

  .bg-500 {
    background: linear-gradient(var(--bg-500), var(--gradient-500));
  }

  .bg-600 {
    background: linear-gradient(var(--bg-600), var(--gradient-600));
  }

  .bg-700 {
    background: linear-gradient(var(--bg-700), var(--gradient-700));
  }

  .bg-800 {
    background: linear-gradient(var(--bg-800), var(--gradient-800));
  }

  .bg-900 {
    background: linear-gradient(var(--bg-900), var(--gradient-900));
  }

  .bg-1000 {
    background: linear-gradient(var(--bg-1000), var(--gradient-1000));
  } */

  .bg-100 {
    background: var(--bg-100);
  }

  .bg-200 {
    background: var(--bg-200);
  }

  .bg-300 {
    background: var(--bg-300);
  }

  .bg-400 {
    background: var(--bg-400);
  }

  .bg-500 {
    background: var(--bg-500);
  }

  .bg-600 {
    background: var(--bg-600);
  }

  .bg-700 {
    background: var(--bg-700);
  }

  .bg-800 {
    background: var(--bg-800);
  }

  .bg-900 {
    background: var(--bg-900);
  }

  .bg-1000 {
    background: var(--bg-1000);
  }

  .text-100 {
    color: var(--text-100);
  }

  .text-200 {
    color: var(--text-200);
  }

  .text-300 {
    color: var(--text-300);
  }

  .text-400 {
    color: var(--text-400);
  }

  .text-500 {
    color: var(--text-500);
  }

  .text-600 {
    color: var(--text-600);
  }

  .text-700 {
    color: var(--text-700);
  }

  .text-800 {
    color: var(--text-800);
  }

  .text-900 {
    color: var(--text-900);
  }

  .text-1000 {
    color: var(--text-1000);
  }

  /**
   * Scrollbar
   */

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white/10;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[var(--bg-600)];
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[var(--bg-500)];
  }

  /**
   * Focus/accessibility-related utilities.
   */
  ._focusable-base {
    @apply transition-all duration-100;
  }

  .focusable-field {
    @apply _focusable-base;
    @apply bg-[var(--bg-800)] hover:bg-[var(--bg-700)] active:bg-white/20;
    @apply placeholder:text-[var(--text-600)];
    @apply border-[var(--bg-700)];
  }

  .focusable-icon-button,
  .icon-button {
    @apply _focusable-base cursor-pointer;
    @apply text-500 hover:text-[var(--text-900)] focus:text-[var(--text-900)];
  }

  /** Integrates with solid-router - highlights current selection. */
  .focusable-icon-button.active,
  .icon-button.active {
    @apply text-100;
  }

  .icon-button.disabled {
    @apply cursor-not-allowed;
  }

  /**
   * Buttons.
   */
  .btn-base {
    @apply flex h-fit gap-1;
    @apply transition-colors duration-100;
    @apply rounded-md px-3;
    @apply disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply btn-base;
    @apply bg-[var(--hl-700)] enabled:hover:bg-[var(--hl-500)] enabled:active:bg-[var(--hl-400)];
    @apply disabled:bg-[var(--hl-900)] disabled:text-[var(--text-700)];
  }

  .btn-hollow {
    @apply btn-base;
    @apply bg-transparent text-[var(--hl-500)] enabled:hover:bg-[var(--hl-900)];
    border: 1px solid var(--hl-500);
    @apply border-[var(--hl-800)] disabled:text-[var(--hl-800)];
  }

  .btn-secondary {
    @apply btn-base;
    @apply bg-[var(--bg-600)] hover:bg-[var(--bg-500)] active:bg-[var(--bg-400)];
    @apply disabled:bg-[var(--bg-700)] disabled:text-[var(--text-400)];
  }

  .btn-red {
    @apply btn-base bg-red-700 active:bg-red-300 enabled:hover:bg-red-400;
    @apply text-[var(--black-900)] disabled:bg-red-900 disabled:text-[var(--text-600)];
  }

  .btn-green {
    @apply btn-base bg-green-700 active:bg-green-300 enabled:hover:bg-green-400;
    @apply disabled:bg-green-900 disabled:text-[var(--text-600)];
  }

  .btn-yellow,
  .btn-orange {
    @apply btn-base bg-yellow-700 active:bg-yellow-500 enabled:hover:bg-yellow-600;
    @apply disabled:bg-orange-900 disabled:text-[var(--text-600)];
  }

  .btn-clear {
    @apply btn-base;
    @apply bg-transparent;
  }

  /**
   * Cards.
   */
  .focusable-card {
    @apply _focusable-base;
    @apply max-h-96 max-w-[10rem];
    @apply rounded-md shadow-md;
    @apply bg-background-lighter hover:bg-zinc-900 active:bg-zinc-800;
  }

  /**
   * Tooltips
   */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  /**
   * Other form stuff.
   */
  .form-check-input:checked[type='radio'] {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E');
  }

  option:checked {
    @apply text-900 bg-[var(--hl-400)];
  }

  input[type='file']::file-selector-button {
    @apply text-900 bg-[var(--hl-700)] p-2;

    border: 0;

    transition: 1s;
  }

  input[type='text']:disabled {
    @apply bg-[var(--bg-700)] text-[var(--text-600)];
  }

  input[type='number']:disabled {
    @apply bg-[var(--bg-700)] text-[var(--text-600)];
  }

  /* input[type='text']:invalid {
    @apply border-2 border-red-600;
  } */

  input[type='range'] {
    background: var(--bg-700);
    background-image: linear-gradient(var(--hl-700), var(--hl-700));
    background-repeat: no-repeat;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--hl-600);
    box-shadow: 0 0 2px 0 #555;
  }

  input[type='range']:disabled {
    background-image: linear-gradient(var(--hl-900), var(--hl-900));
  }

  input[type='range']::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type='text']:disabled {
    @apply bg-[var(--bg-900)];
  }

  .drawer {
    height: calc(100vh - 48px);
    height: calc(100dvh - 48px);
    position: absolute;
    top: 48px;
    left: 0;
    transition: opacity 250ms ease;
    transition: left 250ms ease;
    @apply bg-800 w-[calc(100vw-40px)] max-w-[320px] sm:relative  sm:top-0 sm:clear-none sm:w-[320px];
    @apply z-10 sm:z-0;
  }

  @media (min-width: 1024px) {
    .drawer {
      height: 100vh;
      height: 100dvh;
    }
  }

  .drawer--hide {
    animation-fill-mode: forwards;
    animation: hideDrawer 0s ease 200ms;
    @apply left-[-100vw] sm:left-0 sm:opacity-100;
  }

  .drawer__content {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: calc(100% - 64px);
    transition: 250ms ease;
  }

  .drawer > * > a.active {
    @apply bg-[var(--hl-900)];
  }

  @keyframes hideDrawer {
    to {
      visibility: hidden;
    }
  }
}

textarea::placeholder,
textarea:placeholder-shown {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

textarea:disabled {
  @apply bg-[var(--bg-900)];
}

.markdown > * a,
.markdown > a {
  @apply cursor-pointer text-[var(--hl-500)] hover:text-[var(--hl-300)];
}

.markdown > h1 {
  @apply py-2 text-2xl font-bold text-[var(--hl-400)];
}

.markdown > h2 {
  @apply py-2 text-xl font-bold text-[var(--hl-400)];
}

.markdown > h3 {
  @apply py-1 text-lg font-bold text-[var(--hl-400)];
}

.markdown > p {
  @apply py-1;
}

.markdown > ul {
  @apply ml-6;
  list-style-type: disc;
}

.markdown > ol {
  list-style-type: decimal;
}

.markdown > blockquote {
  @apply pl-4;
  border-left: 0.25em solid var(--bg-300);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
