@tailwind base;
@tailwind components;
@tailwind utilities;

/** Global focus style override. */
*:focus {
  @apply outline-none;
}

:root {
  --sitewide-font: unset;

  --hl-100: #e0f2fe;
  --hl-200: #bae6fd;
  --hl-300: #7dd3fc;
  --hl-400: #38bdf8;
  --hl-500: #0ea5e9;
  --hl-600: #0284c7;
  --hl-700: #0369a1;
  --hl-800: #075985;
  --hl-900: #0c4a6e;

  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;

  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #10b981;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;

  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;

  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;

  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;

  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;

  --dark-100: #f5f5f5;
  --dark-200: #e5e5e5;
  --dark-300: #d4d4d4;
  --dark-400: #a3a3a3;
  --dark-500: #737373;
  --dark-600: #525252;
  --dark-700: #404040;
  --dark-800: #262626;
  --dark-900: #171717;
  --dark-1000: #131313;

  --bg-100: #f5f5f5;
  --bg-200: #e5e5e5;
  --bg-300: #d4d4d4;
  --bg-400: #a3a3a3;
  --bg-500: #737373;
  --bg-600: #525252;
  --bg-700: #404040;
  --bg-800: #262626;
  --bg-900: #171717;
  --bg-1000: #131313;

  --black-100: #000000;
  --black-200: #111827;
  --black-300: #1f2937;
  --black-400: #374151;
  --black-500: #4b5563;
  --black-600: #6b7280;
  --black-700: #9ca3af;
  --black-800: #d1d5db;
  --black-900: #ffffff;

  /** Uses --dark-* values */
  --text-100: #171717;
  --text-200: #262626;
  --text-300: #404040;
  --text-400: #525252;
  --text-500: #737373;
  --text-600: #a3a3a3;
  --text-700: #d4d4d4;
  --text-800: #e5e5e5;
  --text-900: #f5f5f5;

  --highlight: rgb(14 165 233);
}

* > code {
  @apply rounded-md bg-[var(--bg-600)] p-1 text-[var(--text-900)];
}

.text-100 {
  color: var(--text-100);
}

.text-200 {
  color: var(--text-200);
}

.text-300 {
  color: var(--text-300);
}

.text-400 {
  color: var(--text-400);
}

.text-500 {
  color: var(--text-500);
}

.text-600 {
  color: var(--text-600);
}

.text-700 {
  color: var(--text-700);
}

.text-800 {
  color: var(--text-800);
}

.text-900 {
  color: var(--text-900);
}

.text-1000 {
  color: var(--text-1000);
}

body {
  color: var(--text-100);
  font-family: var(--sitewide-font);
}

.w-10 {
  width: 2.5rem;
}

body {
  @apply text-900 bg-[var(--bg-900)];
  height: 100%;
  height: -webkit-fill-available;
}

.app {
  height: 100vh;
  height: 100dvh;
  /* height: -webkit-fill-available; */
  overflow-y: overlay;
}

@supports (-webkit-touch-callout: none) {
  /* .app {
    height: calc(100dvh - 74px);
  } */
}

.ellipsis {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  @apply cursor-pointer text-[var(--hl-500)] hover:text-[var(--hl-300)];
}

@layer base {
  /**
   * Scrollbar
   */

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white/10;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[var(--bg-600)];
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[var(--bg-500)];
  }

  /**
   * Focus/accessibility-related utilities.
   */
  ._focusable-base {
    @apply transition-all duration-100;
  }

  .focusable-field {
    @apply _focusable-base;
    @apply bg-[var(--bg-800)] hover:bg-[var(--bg-700)] active:bg-white/20;
    @apply placeholder:text-[var(--text-600)];
    @apply border-[var(--bg-700)];
  }

  .focusable-icon-button,
  .icon-button {
    @apply _focusable-base cursor-pointer;
    @apply text-500 hover:text-[var(--text-900)] focus:text-[var(--text-900)];
  }

  /** Integrates with solid-router - highlights current selection. */
  .focusable-icon-button.active,
  .icon-button.active {
    @apply text-100;
  }

  /**
   * Buttons.
   */
  .btn-base {
    @apply flex h-fit gap-1;
    @apply transition-colors duration-100;
    @apply rounded-md px-3;
    @apply disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply btn-base;
    @apply bg-[var(--hl-700)] enabled:hover:bg-[var(--hl-500)] enabled:active:bg-[var(--hl-400)];
    @apply disabled:bg-[var(--hl-900)] disabled:text-[var(--text-700)];
  }

  .btn-hollow {
    @apply btn-base;
    @apply bg-transparent text-[var(--hl-500)] enabled:hover:bg-[var(--hl-900)];
    border: 1px solid var(--hl-500);
    @apply border-[var(--hl-800)] disabled:text-[var(--hl-800)];
  }

  .btn-secondary {
    @apply btn-base;
    @apply bg-[var(--bg-600)] hover:bg-[var(--bg-500)] active:bg-[var(--bg-400)];
  }

  .btn-red {
    @apply btn-base bg-red-700 active:bg-red-300 enabled:hover:bg-red-400;
    @apply text-[var(--black-900)] disabled:bg-red-900 disabled:text-[var(--text-600)];
  }

  .btn-green {
    @apply btn-base bg-green-700 active:bg-green-300 enabled:hover:bg-green-400;
    @apply disabled:bg-green-900 disabled:text-[var(--text-600)];
  }

  .btn-yellow,
  .btn-orange {
    @apply btn-base bg-yellow-700 active:bg-yellow-500 enabled:hover:bg-yellow-600;
    @apply disabled:bg-orange-900 disabled:text-[var(--text-600)];
  }

  .btn-clear {
    @apply btn-base;
    @apply bg-transparent;
  }

  /**
   * Cards.
   */
  .focusable-card {
    @apply _focusable-base;
    @apply max-h-96 max-w-[10rem];
    @apply rounded-md shadow-md;
    @apply bg-background-lighter hover:bg-zinc-900 active:bg-zinc-800;
  }

  /**
   * Tooltips
   */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  /**
   * Other form stuff.
   */
  .form-check-input:checked[type='radio'] {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E');
  }

  option:checked {
    @apply text-900 bg-[var(--hl-400)];
  }

  input[type='file']::file-selector-button {
    @apply text-900 bg-[var(--hl-700)] p-2;

    border: 0;

    transition: 1s;
  }

  input[type='text']:disabled {
    @apply bg-[var(--bg-700)] text-[var(--text-600)];
  }

  input[type='number']:disabled {
    @apply bg-[var(--bg-700)] text-[var(--text-600)];
  }

  /* input[type='text']:invalid {
    @apply border-2 border-red-600;
  } */

  input[type='range'] {
    background: var(--bg-700);
    background-image: linear-gradient(var(--hl-700), var(--hl-700));
    background-repeat: no-repeat;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--hl-600);
    box-shadow: 0 0 2px 0 #555;
  }

  input[type='range']:disabled {
    background-image: linear-gradient(var(--hl-900), var(--hl-900));
  }

  input[type='range']::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .drawer {
    height: calc(100vh - 58px);
    height: calc(100dvh - 58px);
    position: absolute;
    top: 58px;
    left: 0;
    transition: opacity 250ms ease;
    transition: left 250ms ease;
    @apply w-[calc(100vw-40px)] max-w-[320px] bg-[var(--bg-900)] sm:relative  sm:top-0 sm:clear-none sm:w-72;
    @apply z-10 sm:z-0;
  }

  @media (min-width: 1024px) {
    .drawer {
      height: 100vh;
      height: 100dvh;
    }
  }

  .drawer--hide {
    animation-fill-mode: forwards;
    animation: hideDrawer 0s ease 200ms;
    @apply left-[-100vw] sm:left-0 sm:opacity-100;
  }

  .drawer__content {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: calc(100% - 64px);
    transition: 250ms ease;
  }

  .drawer > * > a.active {
    @apply bg-[var(--hl-900)];
  }

  @keyframes hideDrawer {
    to {
      visibility: hidden;
    }
  }
}

.markdown > * a,
.markdown > a {
  @apply cursor-pointer text-[var(--hl-500)] hover:text-[var(--hl-300)];
}

.markdown > h1 {
  @apply py-2 text-2xl font-bold text-[var(--hl-400)];
}

.markdown > h2 {
  @apply py-2 text-xl font-bold text-[var(--hl-400)];
}

.markdown > h3 {
  @apply py-1 text-lg font-bold text-[var(--hl-400)];
}

.markdown > p {
  @apply py-1;
}

.markdown > ul {
  @apply ml-6;
  list-style-type: disc;
}

.markdown > ol {
  list-style-type: decimal;
}

.markdown > blockquote {
  @apply pl-4;
  border-left: 0.25em solid var(--bg-300);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
